.app {
  text-align: center;
  flex-direction: column;
  color: black;
  background: white;
  height: 100vh;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 350px;
  height: 240px;
  font-size: 16px;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  width: 50px;
  height: 36px;
}

.day:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.day.today {
  background: #ffff76;
}

.day.active {
  background: #006edc;
  color: white;
}

.day.disabled {
  color: #757575;
  cursor: not-allowed
}

.header {
  width: 350px;
  height: 44px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-select {
  width: 44px;
  height: 44px;
  background: white;
}

.month-select:hover {
  background: #e6e6e6;
}